In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../output/inference.csv')
df.head()

,Class Index,Title,Description,text_token,embedding,text_length,MP_bottom,MP_bothside,MP_random,cnn_bottom,cnn_bothside,cnn_random,cnn_kim_bottom,cnn_kim_bothside,cnn_kim_random,cnn_deep_bottom,cnn_deep_bothside,cnn_deep_random
0,3,Fears for T N pension after talks,Unions representing workers at Turner Newall...,"['Unions', 'representing', 'workers', 'at', 'T...",[[ 0. 0. 0. ... 0. ...,19,3,1,3,1,1,0,3,3,3,3,3,1
1,0,The Race is On: Second Private Team Sets Launc...,"SPACE.com - TORONTO, Canada -- A second\team o...","['SPACE.com', '-', 'TORONTO', ',', 'Canada', '...",[[ 0. 0. 0. ... 0. ...,38,0,0,0,0,1,3,0,0,0,0,0,0
2,0,Ky. Company Wins Grant to Study Peptides (AP),AP - A company founded by a chemistry research...,"['AP', '-', 'A', 'company', 'founded', 'by', '...",[[ 0. 0. 0. ... 0. ...,40,0,0,0,3,3,3,0,0,0,0,1,0
3,0,Prediction Unit Helps Forecast Wildfires (AP),AP - It's barely dawn when Mike Fitzpatrick st...,"['AP', '-', 'It', ""'s"", 'barely', 'dawn', 'whe...",[[ 0.0000000e+00 0.0000000e+00 0.0000000e+00...,56,2,1,2,2,2,2,2,1,2,2,3,0
4,0,Calif. Aims to Limit Farm-Related Smog (AP),AP - Southern California's smog-fighting agenc...,"['AP', '-', 'Southern', 'California', ""'s"", 'a...",[[ 0. 0. 0. ... 0. ...,30,0,0,1,0,1,1,3,1,0,0,1,0

In [3]:
df_inspect = df[['Description', 'Class Index', 'MP_bottom']].reset_index(drop=True)
df_inspect['flg_correct'] = np.where(df['Class Index'] == df['MP_bottom'], 1, 0)

df_inspect.head()

,Description,Class Index,MP_bottom,flg_correct
0,Unions representing workers at Turner Newall...,3,3,1
1,"SPACE.com - TORONTO, Canada -- A second\team o...",0,0,1
2,AP - A company founded by a chemistry research...,0,0,1
3,AP - It's barely dawn when Mike Fitzpatrick st...,0,2,0
4,AP - Southern California's smog-fighting agenc...,0,0,1

In [4]:
df_inspect['flg_correct'].value_counts()

1    6434
0    1166
Name: flg_correct, dtype: int64

In [7]:
# all the incorrect ones
df_inspect[df_inspect['flg_correct'] == 0]

,Description,Class Index,MP_bottom,flg_correct
3,AP - It's barely dawn when Mike Fitzpatrick st...,0,2,0
8,"Wiltshire Police warns about ""phishing"" after ...",0,1,0
10,LOS ANGELES (Reuters) - A group of technology...,0,3,0
18,When did life begin? One evidential clue stems...,0,3,0
23,Google has billed its IPO as a way for everyda...,0,3,0
...,...,...,...,...
7579,The head of plane maker Airbus yesterday won a...,3,2,0
7581,Standard amp; Poor #39;s Equity Research said...,3,0,0
7585,The \$500 billion drug industry is stumbling b...,1,3,0
7589,"NEW YORK - The TV lights were on, the cameras ...",2,1,0
7595,Ukrainian presidential candidate Viktor Yushch...,1,0,0

# Inspection - Class 0
* look at summary statistics of text length

In [12]:
# all the class 0's
df_class0 = df_inspect[df_inspect['Class Index'] == 0].reset_index(drop=True)
df_class0['text_length'] = df_class0['Description'].apply(lambda x: len(x))
df_class0.head()

,Description,Class Index,MP_bottom,flg_correct,text_length
0,"SPACE.com - TORONTO, Canada -- A second\team o...",0,0,1,234
1,AP - A company founded by a chemistry research...,0,0,1,214
2,AP - It's barely dawn when Mike Fitzpatrick st...,0,2,0,272
3,AP - Southern California's smog-fighting agenc...,0,0,1,179
4,The British Department for Education and Skill...,0,0,1,780

In [16]:
# check summary
display(df_class0[df_class0['flg_correct'] == 1]['text_length'].describe())
display(df_class0[df_class0['flg_correct'] == 0]['text_length'].describe())

count    1600.00000
mean      195.35875
std        84.67504
min        37.00000
25%       148.00000
50%       186.00000
75%       222.25000
max       830.00000
Name: text_length, dtype: float64

count    300.000000
mean     186.446667
std       61.910718
min       53.000000
25%      143.750000
50%      181.000000
75%      217.000000
max      503.000000
Name: text_length, dtype: float64

In [28]:
index = 1
print('Text: ')
print(df_class0[df_class0['flg_correct'] == 0]['Description'].reset_index(drop=True)[index])

print('\nPrediction: ')
print(df_class0[df_class0['flg_correct'] == 0]['MP_bottom'].reset_index(drop=True)[index])

Text:
Wiltshire Police warns about "phishing" after its fraud squad chief was targeted.

Prediction:
1